{% load custom_tags %}
<!DOCTYPE html>
<html>
	<head>
		<title>Hacker</title>
		
	</head>
	<body>
		<h3>{% current_time "%a %H:%M %d-%b-%Y" %}</h3>
		<p>Total Count is {% get_count %}</p>
		<p>checking filter tag {{ variable|cut:"No" |safe|urlize|linebreaksbr}}</p>
		{% comment "Optional note" %}
			<p>Commented out text </p>
		{% endcomment %}
		<table>
			{% for val in names %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td>{{ forloop.counter }} {{ val }}</td>
				</tr>
			{% endfor %}
		</table>
		<i>It is {% now "jS F Y H:i" %}</i>
		<table>
			<tr>
				<td>DATE_FORMAT - {% now DATE_FORMAT %}</td>
			</tr>
			<tr>
				<td>DATETIME_FORMAT - {% now DATETIME_FORMAT %}</td>
			</tr>
			<tr>
				<td>SHORT_DATE_FORMAT - {% now SHORT_DATE_FORMAT %}</td>
			</tr>
			<tr>
				<td>SHORT_DATETIME_FORMAT - {% now SHORT_DATETIME_FORMAT %}</td>
			</tr>
		</table>
		{% now "Y" as current_year %}
		<p>&copy; {{ current_year }}</p>
	</body>
</html>